$window_max_width: 1240px;
$header_height: 64px;
$border_radius: 10px;

$comment_height: 158px;

// color
$black: #333;
$red: #eb4d4b;

// media query
$large_tablet_width: 1024px;
$medium_tablet_width: 768px;
$small_tablet_width: 500px;
$large_smart_phone_width: 444px;
$medium_smart_phone_width: 370px;
$small_smart_phone_width: 300px;
